.link{
    color: rgb(255, 255, 255);
}

.link:hover{
    color: #567987  ;
}

.mail{
    color: blueviolet;
}

.mail:hover{
    color: crimson;
}

a{
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    
}

a:hover{
    color: #F4857F;
}



img {
    max-width: 100%;    
    }

    .logo{
    height: 400px;
    }

.quitar-float {
    float: none;
}

.espacio-arriba {
    margin-top: 40px;
}

.mediano{
    font-size: 1.1em;
}

.grande{
    font-size: 1.2em;
}

.muy-grande{
    font-size: 2.5em;
}

.fuente-josefina{
    font-family: 'Josefin Sans', sans-serif;
}

.fuente-pacifico{
    font-family: 'Pacifico', cursive;
}

.espacio-derecha{
    margin-right: 1em;
}

.azul{
    color: #07485C;
}

.rosa {
    color: #F4857F;
}

.azul-claro{
    color: #567987;
}

.se-rosa{
    background-color: #F4857F ;
}

.se-azul{
    background-color: #567987 ;
}

.padding-largo{
    padding: 5px 10px;
}

/*Esto hace que el elementro a trabajar se situe en un mismo bloque alineado*/
.inline-block{
    float: none;
    display: inline-block;
    margin-right: -4px;
}

/*Aqui le saco el puntito que trae la list x defecto a todos los elementos li*/
.no-lista li{
    list-style-type: none;
}

.no-lista {
    margin: 0px;
    padding: 0px;
}

.letra-blanca{
    color: white;
}

/*El vertical align solo funciona si existe el inline-block*/
.vete-arriba{
    vertical-align: top;
}

.retraso-1{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.retraso-2{
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}


/*Aqui vamos a trabajar con GRID*/

.barra-principal{

    background-color: #F4857F;
    max-width: 1280px;
    
    justify-items: center;
    width: 100%;
    min-width: 100%;
    padding: 5px 10px;
    
}

.grid-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    
}

.grid-6 {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 1fr 1fr 1fr;
    justify-items: center;

}

.grid-5{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 1fr 1fr;
    justify-items: center;
}    


.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.grid-3-ancho{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    padding: 5px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: center;
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

.grid-1-contacto{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 1280px;
    min-width: 100%;
    width: 90%;
    margin: auto;
}

/*
.grid-galeria{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.5fr;
    gap: 1em;
    justify-items: center;
    padding: 6px;
    
}
*/

.grid-galeria{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.5fr;
    
    justify-items: center;
    
    
}



.contenedor-contacto {

    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
    min-width: 90%;
    margin-top: 60px;
        
}

.contenedor-contacto iframe {

    width: 95%;
    margin-bottom:  60px;
}

/*
#whatsapp {

    position: fixed;
    top: 8%;
    right: 4%;
    z-index: 200;

   }
   */

   
#mates {
    font-size: 54px;
}

#sub-amor {
    font-size: 36px;
}


#catalogo h3 {
    font-size: 44px;
}


#lista-menu {
    font-size: 22px;

}

#catalogo img {
    border: solid 3px black;
}

#columna-central img{

    width: 100%;    
}

#columna-derecha img{

    width: 100%;    
}



@media (max-width: 800px) {

.logo {
    height: 300px;
    width: 300px;
    margin-top: 6px;
}

#ppal h1 {
    font-size: 34px;
}

#ppal h2 {

    font-size: 22px;
}

 a {
    font-size: 12px ;
}

h3 {
    font-size: 24px ;
}

h1 {
    padding: 5px;
}






}

@media (max-width: 330px) {

    .logo {
        height: 250px;
        width: 250px;
        margin-top: 6px;
    }
    
    #ppal h1 {
        font-size: 25px;
    }
    
    #ppal h2 {
    
        font-size: 18px;
        }

    .muy-grande {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;

    }
    
    

}

@media (min-width: 600px) and (max-width: 800px) {

    .logo {
        height: 550px;
        width: 550px;
        margin-top: 30px;
    }

    a {
        font-size: 20px ;
    }

}