/*
PALETA DE COLORES
#f6ea8c
#f26d5b
#c03546
#492540

*/

p {
    margin-top: 30px;
}

body {
    background-color: #f6ea8c ;
}

h1, h2, h3 {
    color: #492540;
}

.imagen:hover, .map:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px 10px #f26d5b;
}


.link{
    color: #f6ea8c;
}

.link:hover{
    color: #492540  ;
}

.mail{
    color: #c03546;
}

.mail:hover{
    color: #492540;
}

a{
    font-size: 1.2em;
    color: #f6ea8c;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    
}

a:hover{
    color: #492540;
}

a:visited {
    color: #f6ea8c;
}




/*img {    max-width: 100%;        }*/

.logo{
    height: 350px;
    }

.quitar-float {
    float: none;
}

.espacio-arriba {
    margin-top: 40px;
}

.mediano{
    font-size: 24px;
}

.grande{
    font-size: 1.2em;
}

.muy-grande{
    font-size: 2.2em;
}

header h2 {
    font-size: 26px;
}

.fuente-josefina{
    font-family: 'Josefin Sans', sans-serif;
}

.fuente-pacifico{
    font-family: 'Pacifico', cursive;
}

.espacio-derecha{
    margin-right: 1em;
}

.azul{
    color: #492540;
}

.rosa {
    color: #f26d5b;
}

.azul-claro{
    color: #c03546;
}

.se-rosa{
    background-color: #f26d5b ;
}

.se-azul{
    background-color: #492540 ;
}

.padding-largo{
    padding: 5px 10px;
}

/*Esto hace que el elementro a trabajar se situe en un mismo bloque alineado*/
.inline-block{
    float: none;
    display: inline-block;
    margin-right: -4px;
}

/*Aqui le saco el puntito que trae la list x defecto a todos los elementos li*/
.no-lista li{
    list-style-type: none;
}

.no-lista {
    margin: 0px;
    padding: 0px;
}

.letra-blanca{
    color: #f6ea8c;
}

/*El vertical align solo funciona si existe el inline-block*/
.vete-arriba{
    vertical-align: top;
}

.retraso-1{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.retraso-2{
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.retraso-3{
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}


/*Aqui vamos a trabajar con GRID*/

.barra-principal{

    background-color: #f26d5b;
    max-width: 1280px;
    
    justify-items: center;
    width: 100%;
    min-width: 100%;
    padding: 5px 10px;
    
}

.grid-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    
}

.grid-6 {
    display: grid;
    grid-template-columns: 3fr 5fr 5fr 5fr 1fr 1fr 1fr;
    justify-items: center;

}

.grid-8 {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr 1fr 1fr 1fr;
    justify-items: center;

}

.grid-5{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 1fr 1fr;
    justify-items: center;
}    


.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.grid-3-ancho{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    padding: 5px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    justify-items: center;
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

.grid-1-contacto{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 1280px;
    min-width: 100%;
    width: 90%;
    margin: auto;
}


/*.grid-galeria{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.5fr;
    gap: 1em;
    justify-items: center;
    padding: 6px;
    
}*/


.grid-galeria{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.5fr;
    
    justify-items: center;
    
    
}

/*OTRAS FOTOS*/

.foto-giovy-ana img {
    width: 330px; 
    height: 400px;
}

.fotos-galeria-gif img {
    width: 270px;
    height: 315px; 
}

.fotos-galeria img {
    max-width: 98%;
}



.contenedor-contacto .foto-giovy-ana {

    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
    min-width: 90%;
    margin-top: 60px;
        
}

.contenedor-contacto iframe {

    width: 95%;
    margin-bottom:  60px;
}

/*
#whatsapp {

    position: fixed;
    top: 8%;
    right: 4%;
    z-index: 200;

   }
   */

   
#mates {
    font-size: 54px;
}

#sub-amor {
    font-size: 36px;
}


/*#catalogo h3 {
    font-size: 44px;
}*/


.lista-menu-big {
    font-size: 22px;

}

#catalogo img {
    border: solid 3px #492540;
}

#columna-izquierda img{
    width: 100%;    
}

#columna-central img{

    width: 100%;    
}

#columna-derecha img{

    width: 100%;    
}


.imagen-fija{

    background: url(portada.jpg);
    
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
    padding-bottom: 60px;
    background-position: center;
}

.imagen-fija2{

    background: url(portada2.jpg);
    
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-bottom: 60px;
    background-position: center;
}

.imagen-fija3{

    background: url(portada3.jpg);
    
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-bottom: 60px;
    background-position: center;
}

.imagen-fija4{

    background: url(portada4.jpg);
    
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-bottom: 60px;
    background-position: center;
}

.contenedor {
    
    width: 90%;
    margin: auto;
}



/*........GENERAL.............*/

#presentacion img {

    width: 467px;
    height: 450px;
}

.contenedor {
    padding-bottom: 36px;
}

/*..........CURAR...............*/

#curar .contenedor-curar {
    display: flex;
    justify-content: space-around;
}

#curar .texto {
    
    width: 42%;
    text-align: justify;
}

#curar h1 {
    padding-bottom: 36px;
}


/*...................PRESENTACION............*/


#presentacion .contenedor-presentacion {
    display: flex;
    justify-content: space-around;
}

#presentacion .texto {
    
    width: 42%;
    text-align: justify;
}

#presentacion h1 {
    padding-bottom: 36px;
}


/*...................MADERA............*/

#madera img {

    width: 360px;
    height: 300px;
}


#madera .algarrobo {
    display: flex;
    justify-content: space-around;
    padding-bottom: 36px;
    
}

#madera .canela {
    display: flex;
    justify-content: space-around;
    padding-bottom: 36px;
}

#madera .texto {
    
    width: 36%;
    text-align: justify;
}

#madera h1 {
    padding-bottom: 36px;
}


/*......................CONTACTO.................*/


#contacto .contenedor-contacto {
    display: flex;
    justify-content: space-around;
}

.contenedor-contacto img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#contacto .texto {
    
    width: 42%;
    text-align: justify;
}

#contacto h1 {
    padding-bottom: 36px;
}


/*.........................FOOTER..................*/


footer {

    background: #f26d5b;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
   }

   footer .contenedor {

    display: flex;
    justify-content: center;
    /*este por defecto vienen en raw, por eso se pone uno al lado del otro. si lo pongo en columna pone uno abajo del otro*/
    flex-direction: column;
   }

   footer img {
    margin: 0 40px;
    transform: rotate(0);
    /*en la rotacion necesito definir primero el grado por defecto, luego en el :hover cuanto quiero que rote, y luego la transition que es el tiempo en el defect y en el hover. deg es grados en ingles*/
    transition: 0.4s;

   }

   footer img:hover {
    transform: rotate(360deg);
    transition: 0.4s;

   }

   footer p {
       color: #f6ea8c;
       margin-top: 40px;
   }



   .boton {
    font-size: 16px;
    color: #f6ea8c;
    background: #f26d5b;
    padding: 4px 13px;
    text-align: center;
    width: 172px;
    border-radius: 16px;
    display: inline-block;
    margin-top: 30px;
   }

   html {
    /*este es la animaciopn de cndo hago scroll por el documento*/
    scroll-behavior: smooth;
}


@media (max-width: 800px) {

   

    .espacio-arriba {
        margin-top: 6px;
    }

.logo {
    height: 260px;
    width: 260px;
    margin-top: -21px;
}

#ppal h1 {
    font-size: 34px;
}

#ppal h2 {

    font-size: 22px;
}

 a {
    font-size: 12px ;
}

h3 {
    font-size: 24px ;
}

h1 {
    padding: 5px;
    font-size: 30px;
    margin-top: 18px;
}

header h2 {
    font-size: 22px;
}


.foto-giovy-ana img {
    width: 180px; 
    height: 238px;
}

.fotos-galeria-gif img {
    width: 350px;
    height: 193px; 
}

.contenedor-curar, .contenedor-presentacion, .contenedor-madera, .contenedor-contacto, .algarrobo, .canela {
    flex-direction: column;

}

#curar img {
    width: 100%;
}

#curar .texto {    
    width: 90%;
    text-align: justify;
}

#presentacion img {
    width: 100%;
    height: 310px;
}

#presentacion .texto {    
    width: 90%;
    text-align: justify;
}

#madera img {
    width: 100%;
    height: 270px;
    
}

#madera .texto {    
    width: 90%;
    text-align: justify;
}


#contacto .texto {    
    width: 90%;
    text-align: justify;
}

.mediano{
    font-size: 16px;
}






}

@media (max-width: 330px) {

    .logo {
        height: 240px;
        width: 240px;
        margin-top: -25px;
    }
    
    #ppal h1 {
        font-size: 25px;
        
    }
    
    header .espacio-arriba {
        margin-top: 4px;
    }

    #ppal h2 {
    
        font-size: 18px;
        }

    .muy-grande {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;

    }

    footer img {
        margin: 3px 24px;
        }
    

}

@media (min-width: 600px) and (max-width: 800px) {

    .logo {
        height: 550px;
        width: 550px;
        margin-top: 30px;
    }

    a {
        font-size: 20px ;
    }

}